<div class="sticky-top d-flex justify-content-center align-items-center">
    <div id="notificationPanel" style="position: absolute; top: .5rem;"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-7 col-xl-8">
            <!-- <div class="map-container">
                <div class="map-frame"> -->
            <div id="map" style="width: 100%; height: 100vh;"></div>
            <!-- </div>
            </div> -->
        </div>
        <div class="col-6 col-lg-5 col-xl-4" style="height: 100vh; overflow-y: scroll;" *ngIf="form" [formGroup]="form">
            <fieldset>
                <legend>Dados para simulação</legend>
                <div class="row">
                    <div class="row pt-2 row-cols-1">
                        <div class="col-12">
                            <label for="idCentroDistribuicao">Centro de Distribuição</label>
                            <select class="form-control" formControlName="idCentroDistribuicao">
                                <option *ngFor="let centroDistribuicao of centrosDistribuicao"
                                    value={{centroDistribuicao.id}}>
                                    {{centroDistribuicao.nome}} - ({{centroDistribuicao.totalDeUrnas}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row pt-2 row-cols-1">
                        <div class="col-6">
                            <label for="quantidadeCaminhoes38m3">Veículos 38m3 (730)</label>
                            <input type="number" class="form-control" formControlName="quantidadeCaminhoes38m3"
                                min="0" />
                        </div>
                        <div class="col-6">
                            <label for="quantidadeCaminhoes22m3">Veículos 22m3 (422)</label>
                            <input type="number" class="form-control" formControlName="quantidadeCaminhoes22m3"
                                min="0" />
                        </div>
                    </div>
                    <div class="row pt-2 row-cols-1">
                        <div class="col-6"> <label for="quantidadeCaminhoes13m3">Veículos 13m3 (249)</label>
                            <input type="number" class="form-control" formControlName="quantidadeCaminhoes13m3"
                                min="0" />
                        </div>
                        <div class="col-6"> <label for="quantidadeCaminhoes7_5m3">Veículos 7,5m3 (144)</label>
                            <input type="number" class="form-control" formControlName="quantidadeCaminhoes7_5m3"
                                min="0" />
                        </div>
                    </div>
                    <div class="row pt-2 row-cols-1">
                        <div class="col-12">
                            <label for="tipoOtimizacaoEnum">Tipo de otimização</label>
                            <select class="form-control" formControlName="tipoOtimizacaoEnum">
                                <option value="MENOR_DISTANCIA" selected>
                                    Menor distância
                                </option>
                                <option value="MENOR_TEMPO">
                                    Menor tempo
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row pt-2 row-cols-1">
                <div class="col mb-3">
                    <button id="solveButton" type="button" class="btn btn-success" (click)="startSolving()"
                        *ngIf="!isSolving">
                        <i class="fas fa-play"></i> Resolver
                    </button>
                    <button id="stopSolvingButton" type="button" class="btn btn-danger" (click)="stopSolving()"
                        *ngIf="isSolving">
                        <i class="fas fa-stop"></i> Parar resolução
                    </button>
                </div>
                <div class="col">
                    <h5>
                        Resumo da solução
                        <a href="#" class="float-right" data-toggle="modal" data-target="#scoreDialog">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </h5>
                    <table class="table">
                        <tr>
                            <td>Score:</td>
                            <td><span id="score">{{statusSolucaoAtual?.solution?.score}}</span></td>
                        </tr>
                        <tr>
                            <td>Distância total percorrida:</td>
                            <td><span id="distance">{{getDistanciaFormatada()}}</span></td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <h5>Centro de Distribuição</h5>
                    <table class="table-sm w-100" *ngIf="statusSolucaoAtual?.solution?.depotList">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-11">Nome</th>
                            </tr>
                        </thead>
                        <tbody id="depots">
                            <tr *ngFor="let depot of statusSolucaoAtual.solution.depotList">
                                <td><i class="fas fa-crosshairs" [id]='getIdCrossHairDepot(depot)'
                                        [style]="getDepotStyle(depot)">
                                    </i></td>
                                <td>{{depot.name}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h5>Veículos</h5>
                    <table class="table-sm w-100" *ngIf="statusSolucaoAtual?.solution?.vehicleList">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-3">Nome</th>
                                <th class="col-3">
                                    Carga
                                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top"
                                        data-html="true"
                                        title="Carga dos veículos mostrada na forma <em>Carga total / Capacidade</em>."></i>
                                </th>
                                <th class="col-3">Distância</th>
                            </tr>
                        </thead>
                        <tbody id="vehicles">
                            <tr *ngFor="let vehicle of statusSolucaoAtual.solution.vehicleList">
                                <td>
                                    <i class="fas fa-crosshairs" [id]='getIdCrossHairVehicle(vehicle)'
                                        [style]="getVehicleStyle(vehicle)">
                                    </i>
                                </td>
                                <td>Veículo {{vehicle.id}}</td>
                                <td>
                                    <div class="progress" data-toggle="tooltip-load" data-placement="left"
                                        data-html="true" [title]="getVehicleTitle(vehicle)">
                                        <div class="progress-bar" role="progressbar"
                                            [style]="getVehicleProgressBarStyle(vehicle)">
                                            {{vehicle.totalDemand}}/{{vehicle.capacity}}</div>
                                    </div>
                                </td>
                                <td>{{getDistanciaEmMetros(vehicle.totalDistanceMeters)}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scoreDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Score explanation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="scoreInfo">
        </pre>
            </div>
        </div>
    </div>
</div>