<div class="sticky-top d-flex justify-content-center align-items-center">
    <div id="notificationPanel" style="position: absolute; top: .5rem;"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-7 col-xl-8">
            <!-- <div class="map-container">
                <div class="map-frame"> -->
            <div id="map" style="width: 100%; height: 100vh;"></div>
            <!-- </div>
            </div> -->
        </div>
        <div class="col-6 col-lg-5 col-xl-4" style="height: 100vh; overflow-y: scroll;">
            <ngb-accordion [closeOthers]="true" activeIds="simulacoesSalvas">
                <ngb-panel id="simulacoesSalvas" title="Simulações salvas">
                    <ng-template ngbPanelContent>
                        <fieldset *ngIf="formSimulacoes" [formGroup]="formSimulacoes">
                            <div class="row">
                                <div class="row pt-2 row-cols-1">
                                    <div class="col-12">
                                        <label for="idSimulacao">Simulação</label>
                                        <select class="form-control" formControlName="idSimulacao">
                                            <option *ngFor="let simulacao of simulacoes" value={{simulacao.id}}>
                                                {{simulacao.descricao}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <div class="row pt-2 row-cols-1" *ngIf="formSimulacoes">
                            <div class="col mb-3">
                                <button id="loadButton" type="button" class="btn btn-primary" (click)="loadSimulacao()"
                                    *ngIf="!isSolving && !simulationIsLoading">
                                    <fa-icon [icon]="faDownload"></fa-icon> Carregar Simulação
                                </button>
                                <div *ngIf="simulationIsLoading">
                                    <div class="spinner-border text-primary" role="status">
                                    </div>
                                    <span>Carregando simulação...</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="novasSimulacoes" title="Criar simulações">
                    <ng-template ngbPanelContent>
                        <fieldset *ngIf="form" [formGroup]="form">
                            <legend>Dados para simulação</legend>
                            <div class="row">
                                <div class="row pt-2 row-cols-1">
                                    <div class="col-12">
                                        <label for="idCentroDistribuicao">Centro de Distribuição</label>
                                        <select class="form-control" formControlName="idCentroDistribuicao">
                                            <option *ngFor="let centroDistribuicao of centrosDistribuicao"
                                                value={{centroDistribuicao.id}}>
                                                {{centroDistribuicao.nome}} - ({{centroDistribuicao.totalDeUrnas}})
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pt-2 row-cols-1">
                                    <div class="col-6">
                                        <label for="quantidadeCaminhoes38m3">Veículos 38m3 (730)</label>
                                        <input type="number" class="form-control"
                                            formControlName="quantidadeCaminhoes38m3" min="0" />
                                    </div>
                                    <div class="col-6">
                                        <label for="quantidadeCaminhoes22m3">Veículos 22m3 (422)</label>
                                        <input type="number" class="form-control"
                                            formControlName="quantidadeCaminhoes22m3" min="0" />
                                    </div>
                                </div>
                                <div class="row pt-2 row-cols-1">
                                    <div class="col-6"> <label for="quantidadeCaminhoes13m3">Veículos 13m3 (249)</label>
                                        <input type="number" class="form-control"
                                            formControlName="quantidadeCaminhoes13m3" min="0" />
                                    </div>
                                    <div class="col-6"> <label for="quantidadeCaminhoes7_5m3">Veículos 7,5m3
                                            (144)</label>
                                        <input type="number" class="form-control"
                                            formControlName="quantidadeCaminhoes7_5m3" min="0" />
                                    </div>
                                </div>
                                <div class="row pt-2 row-cols-1">
                                    <div class="col-6"> <label for="tempoDescarregamentoMinutos">Tempo descarregamento
                                            (minutos)</label>
                                        <input type="number" class="form-control"
                                            formControlName="tempoDescarregamentoMinutos" min="1" />
                                    </div>
                                    <div class="col-6"> <label for="tempoMaximoAtuacaoHoras">Tempo máximo atuação
                                            (horas)</label>
                                        <input type="number" class="form-control"
                                            formControlName="tempoMaximoAtuacaoHoras" min="1" />
                                    </div>
                                </div>

                                <div class="row pt-2 row-cols-1">
                                    <div class="col-12">
                                        <label for="tipoOtimizacaoEnum">Tipo de otimização</label>
                                        <select class="form-control" formControlName="tipoOtimizacaoEnum">
                                            <option value="MENOR_DISTANCIA" selected>
                                                Menor distância
                                            </option>
                                            <option value="MENOR_TEMPO">
                                                Menor tempo
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row pt-2 row-cols-1">
                            <div class="col mb-3">
                                <button id="solveButton" type="button" class="btn btn-success" (click)="startSolving()"
                                    *ngIf="!isSolving">
                                    <fa-icon [icon]="faPlay"></fa-icon> Resolver
                                </button>
                                <button id="stopSolvingButton" type="button" class="btn btn-danger"
                                    (click)="stopSolving()" *ngIf="isSolving && !solvingIsStarting">
                                    <fa-icon [icon]="faStop"></fa-icon> Parar resolução
                                </button>
                                <button id="refreshButton" type="button" class="btn btn-primary" (click)="atualizarMapa()"
                                    *ngIf="isSolving && !solvingIsStarting">
                                    <fa-icon [icon]="faRefresh"></fa-icon> Atualizar o mapa
                                </button>

                                <div *ngIf="solvingIsStarting">
                                    <div class="spinner-border text-primary" role="status">
                                    </div>
                                    <span>Preparando para calcular rotas...</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <div class="col">
                <h5>
                    Resumo da solução
                    <a href="#" class="float-right" data-toggle="modal" data-target="#scoreDialog">
                        <fa-icon [icon]="faInfoCircle"></fa-icon>
                    </a>
                </h5>
                <table class="table">
                    <tr>
                        <td>Score:</td>
                        <td><span id="score">{{statusSolucaoAtual?.solution?.score}}</span></td>
                    </tr>
                    <tr>
                        <td>Distância total percorrida:</td>
                        <td><span id="distance">{{getDistanciaFormatada()}}</span></td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <h5>Centro de Distribuição</h5>
                <table class="table-sm w-100" *ngIf="statusSolucaoAtual?.solution?.depotList">
                    <thead>
                        <tr>
                            <th class="col-1"></th>
                            <th class="col-11">Nome</th>
                        </tr>
                    </thead>
                    <tbody id="depots">
                        <tr *ngFor="let depot of statusSolucaoAtual.solution.depotList">
                            <td>
                                <fa-icon [icon]="faCrosshairs" [id]='getIdCrossHairDepot(depot)'
                                    [style]="getDepotStyle(depot)"></fa-icon>
                            </td>
                            <td>{{depot.name}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col" *ngIf="formRotasSelecionadas" [formGroup]="formRotasSelecionadas">
                <h5>Veículos</h5>
                <table class="table-sm w-100" *ngIf="statusSolucaoAtual?.solution?.vehicleList">
                    <thead>
                        <tr>
                            <th class="col-1"></th>
                            <th class="col-2">Nome</th>
                            <th class="col-3">
                                Carga
                                <fa-icon [icon]="faInfoCircle" placement="top"
                                    ngbTooltip="Carga dos veículos mostrada na forma Carga total / Capacidade.">
                                </fa-icon>
                            </th>
                            <th class="col-2">Distância</th>
                            <th class="col-2">Tempo</th>
                        </tr>
                    </thead>
                    <tbody id="vehicles">
                        <tr *ngFor="let vehicle of statusSolucaoAtual.solution.vehicleList; let i=index">
                            <td class="command-column"><input type="checkbox" formArrayName="rotasSelecionadas"
                                    [value]="vehicle.id" (change)="onRotasSelecionadasChange($event)" checked
                                    *ngIf="showRouteCheckbox()" />
                                <fa-icon [icon]="faListCheck" (click)="abrirItinerario(content, vehicle)"
                                    style="cursor: pointer" *ngIf="showRouteCheckbox()"></fa-icon>
                                <fa-icon [icon]="faTruckPickup" [id]=' getIdCrossHairVehicle(vehicle)'
                                    [style]="getVehicleStyle(vehicle)"></fa-icon>
                            </td>
                            <td>{{vehicle.description}}</td>
                            <td>
                                <div class="progress" data-toggle="tooltip-load" data-placement="left" data-html="true"
                                    [title]="getVehicleTitle(vehicle)">
                                    <div [class]="getVehicleProgressBarClass(vehicle)" role="progressbar"
                                        [style]="getVehicleProgressBarStyle(vehicle)">
                                        {{vehicle.totalDemand}}/{{vehicle.capacity}}</div>
                                </div>
                            </td>
                            <td>{{getDistanciaEmMetros(vehicle.totalDistanceMeters)}}</td>
                            <td>{{vehicle.totalTimeMilis | humanizeDuration:{ delimiter: ' e ', largest:2 }
                                }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scoreDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Score explanation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="scoreInfo">
        </pre>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Locais de Votação - {{veiculoItinerario.description}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Saída : {{veiculoItinerario.depot.name}}</h5>
        <table>
            <thead>
                <th>
                    Número
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Endereço
                </th>

            </thead>
            <tbody>
                <tr *ngFor="let customer of veiculoItinerario.route">
                    <td>{{customer.id}}</td>
                    <td>{{customer.nome}}</td>
                    <td>{{customer.endereco}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
    </div>
</ng-template>